#request-invite.modal{:style => "display: #{@user.errors.any? ? 'block' : 'none';}"}
  = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3#modal-title
        Cadastro de Proprietário
    .modal-body
      = f.error_notification
      = f.input :email, :placeholder => 'email@exemplo.com.br', :autocapitalize => "off", :autocorrect => "off"
    .modal-footer
      %a.btn{:class => "btn", "data-dismiss" => "modal", :href => "#"} Fechar
      = f.submit "Cadastrar", :class => "btn btn-success", :id => 'invitation_button'

- if !request.xhr? # No need to render the rest of the page for the AJAX response
  .hero-unit.hero-registration
    / %h2 Pet Cuida
    %h2 Quem ama o seu pet, cuida.
  
    %p A Pet Cuida é um novo serviço que vai ajudar os proprietários que buscam o melhor atendimento para os seus pets a encontrarem os melhores veterinários.
    %p E para garantir o maior conforto para você e para o seu pet, os atendimentos serão realizados na sua casa, com hora marcada.
    %p Se você ama o seu pet e quer encontrar o melhor veterinário para ele, cadastre o seu email abaixo e ficará sabendo sobre o lançamento dos nossos serviços.
    %br/

    %button.btn.btn-primary.btn-large#btn-owner{"data-toggle" => "modal", :href => "#request-invite"} Quero me cadastrar

